* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  
}
li {
  gap: 20px;
}
// .container {
//   width: 80%;
//   margin: 0 auto;


.container{
 background-image: url("../../images/pexels-n-voitkevich-5794883.jpg");
background-image: url("https://github.com/Edwinkipsang/Uptown-dishes/blob/master/images/pexels-n-voitkevich-5794883.jpg?raw=true");
}


.about-us-container{
  background-image: url("../../images/patrick-schneider-5xltWMpkN3E-unsplash.jpg");
background-image: url("https://github.com/Edwinkipsang/Uptown-dishes/blob/master/images/patrick-schneider-5xltWMpkN3E-unsplash.jpg?raw=true");
}

.menu-container{
  background-image: url("../../images/patrick-schneider-5xltWMpkN3E-unsplash.jpg");
  background-image: url("https://github.com/Edwinkipsang/Uptown-dishes/blob/master/images/patrick-schneider-5xltWMpkN3E-unsplash.jpg?raw=true");
}

.contact-container{
  background-image: url("../../images/pexels-marceloverfe-16743523.jpg");
  background-image: url("https://github.com/Edwinkipsang/Uptown-dishes/blob/master/images/pexels-marceloverfe-16743523.jpg?raw=true");
  
}
p{
  color: white;
}

h1{
  color: white;
  font-size: 50px;
}


.l-hero{
background-image: url("../../images/background\ 1.jpg");
background-image: url("https://github.com/Edwinkipsang/Uptown-dishes/blob/master/images/background%201.jpg?raw=true");
}

.l-hero-s{
  background-image: url("../../images/background\ 1.jpg");
  background-image: url("https://github.com/Edwinkipsang/Uptown-dishes/blob/master/images/background%201.jpg?raw=true");
  }




