@use "../../utilities/variables" as *;
@use "../../utilities/mixins" as *;


.f-container{
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid orange;
    background-color: black;
   
}


.f-list{
    color: white;
    margin-top: 0.5em;

    li {
        a {
          padding: 5px;
          display: inline-block;
          &:hover {
            color: orange;
          }
        }
      }
    
}



h3{
    color: orange;
}

footer{
    width: 80%;
    margin: 0 auto; 
}

.f-flex{
    display: flex;
    justify-content: space-between;
    gap: 6em;
    align-items: center;
}